<!doctype html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<title>Update Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
		body {
		  -webkit-animation: colorchange 20s infinite;
		  animation: colorchange 20s infinite;
		}
		@-webkit-keyframes colorchange {
		  0% {
			background: #9d72cb;
		  }
		  25% {
			background: #3fbbf0;
		  }
		  50% {
			background: #5a6064;
		  }
		  75% {
			background: #e8c16c;
		  }
		  100% {
			background: #0e0e0e;
		  }
		}
		@keyframes colorchange {
		  0% {
			background: #9d72cb;
		  }
		  25% {
			background: #3fbbf0;
		  }
		  50% {
			background: #5a6064;
		  }
		  75% {
			background: #e8c16c;
		  }
		  100% {
			background: #0e0e0e;
		  }
		}
	  </style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align:center"><font face="Palatino" size="20px" color="white">📝Update or Edit your Profile Here</font></h1>
	<div class="container rounded bg-white mt-5">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-6" src="{{ disent.profilepic.url }}" width="220" id="output">
                    <h3><font face="Palatino" size="6px" color="blue">username: {{user.username}}</font></h3>
                </div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                                <h6><a href="{% url 'register' %}" title="Back to registering"> ⬅️Register new user</a></h6>
                        </div>
                        <h6 class="text-right"><a href="{% url 'profile' %}" title="login another user"> Back to Profile Page➡️</a></h6>
                    </div>
                    <form action="{% url 'uprofile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" accept="image/*" name="pimg" id="file" onchange="loadfile(event)">
                    <div class="row mt-2">
                        <div class="col-md-6"><input type="text" class="form-control" name="frn" placeholder="first_name" value="{{ user.first_name }}"></div>
                        <div class="col-md-6"><input type="text" class="form-control" name="lan" value="{{ user.last_name }}" placeholder="last_name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" name="em" placeholder="Email" value="{{ user.email }}"></div>
                        <div class="col-md-6"><input type="text" class="form-control" name="con" value="{{ disent.contactno }}" placeholder="contactno"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" name="add" placeholder="address" value="{{ disent.address }}"></div>
                        <div class="col-md-6"><input type="text" class="form-control" name="city" value="{{ disent.city }}" placeholder="City"></div>
                    </div>
                    <button for="file" type="submit" style="cursor:pointer;background-color:red;color:whitesmoke;">Submit</button>
                    </form>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	</body>
</html>